*{
    inline-size: auto;

}
li{
    color: red;
    margin:35px;
}

a{
    
    border: 2px;
    font-family: Arial, Helvetica, sans-serif;

    color:black;

}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    margin-top: 30px;
    font-size: 64px;
    padding: 0px;
    
}

span{
    
    border-style: groove;
    background-color: antiquewhite;
}


body{
    background-image: url(./images/fondo.png);
    text-align: center;

}

ul {
    display:inline-flex;
    list-style: none;
    padding: 0;
    border-style: double;
    background-color: antiquewhite;
    margin-top: 40px;
  }

.piedepagina{
    margin-top: 200px;
    color:yellow;
    background-color: blue;
}
.historia {
    margin:10px;
    color:darkred;
    background-color: white;
    font-family:sans-serif;
    font-size: 2em;
    border-style: dashed;
    margin-top:20px;
    margin-left:150px;
    margin-right:150px;
    
}